{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Login form -->
<div class="container">
  <div class="row g-0">
    <div class="col text-center mt-4">
      <h1>{% trans "SIGN IN" %}</h1>
      <p>{% blocktrans %} If you have not created an account yet, then please
        <a href="{{ signup_url }}">SIGN UP</a> first.{% endblocktrans %}</p>
    </div>
    <div class="row g-0 mt-4">
      <div class="col"></div>
      <div class="col-sm-4 col-sm-offset-4">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-outline-success" type="submit">{% trans "SIGN IN" %}</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

{% endblock %}