{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<!-- Log Out form -->
<div class="container">
  <div class="row g-0">
    <div class="col text-center mt-4">
      <h1>{% trans "SIGN OUT" %}</h1>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
    <div class="row g-0 mt-4">
      <div class="col"></div>
      <div class="col-sm-4 col-sm-offset-4">
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="col text-center mt-4">
          <button class="btn btn-outline-success" type="submit">{% trans 'Sign Out' %}</button>
        </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
{% endblock %}