/* General */

hr {
    color: #B87869
}
.tagline {
    
}

body {
    font-family: 'Alatsi', sans-serif;
    color: #191919;
}

a {
    text-decoration: none;
    color: #191919;
}

li {
    color: #fff; 
}

i {
    color: #fff;
    font-size: 30px;
}

a:hover,
a:active {
    color: #B87869;
}

i:hover,
i:active {
    color: #B87869;
}

.commenter,
.comment-date {
    color: #B87869;
    font-size: small;
}


/* Button */

.btn-outline-success {
    color: #B87869;
    border-color: #B87869;
    box-shadow: #B87869;
}
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus {
    background-color: #B87869;
    border-color: #B87869;
    color: #fff;
    box-shadow: #B87869;
}

/* Header */

.nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #B87869;
}

.navbar-brand {
    text-decoration: none;
    text-transform: capitalize;
}

.logo {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff; 
}

.half-logo {
    font-family: 'Alatsi', sans-serif;
    font-size: 40px;
    color: #fff;
    letter-spacing: 5px;
}

/* Form */
textarea {
    font-family: oxygenregular, sans-serif;
}
.comment-content {
    font-family: oxygenregular, sans-serif;
}

/* Footer */

footer {
    color: #B87869;
}



