/* General */

hr {
    color: #B87869
}

body {
    font-family: 'Alatsi', sans-serif;
    color: #191919;
    margin-bottom: 120px;
}

a {
    text-decoration: none;
    color: #191919;
}

li {
    color: #fff;
}

i {
    color: #fff;
    font-size: 30px;
}

a:hover,
a:active {
    color: #B87869;
}

i:hover,
i:active {
    color: #B87869;
}

.commenter,
.comment-date {
    color: #B87869;
    font-size: small;
}


/* Button */

.btn-outline-success {
    color: #B87869;
    border-color: #B87869;
    box-shadow: #B87869;
}

.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus {
    background-color: #B87869;
    border-color: #B87869;
    color: #fff;
    box-shadow: #B87869;
}

/* Header */

.nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #B87869;
}

.navbar-brand {
    text-decoration: none;
    text-transform: capitalize;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(184, 120, 105, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
}

.half-logo {
    font-family: 'Alatsi', sans-serif;
    font-size: 35px;
    color: #fff;
    letter-spacing: 5px;
}

/* Images */

.card-img-top {
    width: 100%;
}

/* Form */

textarea {
    font-family: oxygenregular, sans-serif;
}

.comment-content {
    font-family: oxygenregular, sans-serif;
}

/* Error messages */

.errorlist li {
    color: #B87869;
}

/* Pagination link */

a.page-link {
    color: #000;
    background-color: #B87869;
    border-color: #fff;
    border-radius: 5px;
}
a.page-link:hover {
    color: #000;
    background-color: #fff;
    border-color: #B87869;
}


/* Footer */

footer {
    color: #B87869;
}

.footer {
    width: 100%;
    margin-bottom: 0px;
    height: 100px;
    bottom: 0px;
    position: fixed;
}