{% extends 'base.html' %}
{% block content %}

<!-- Create-post form -->

{% load crispy_forms_tags %}
<div class="container">
    <div class="row g-0">
        <div class="col mx-auto mt-4">
            <h3 class="add_post_title text-center">Share your local news!</h3>
            <p class="add_post_paragraph text-center">Simply create the post and the original news sourcelink and click
                the Publish-button
            </p>
        </div>
        <div class="row g-0 mt-4">
            <div class="col">
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p | safe }}
                    <button class="btn btn-outline-success" input type="submit">Publish</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>


{% endblock content %}