{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<!-- Delete post form -->

<div class="container">       
        <div class="row g-0 mt-4">
            <div class="col"></div>
            <div class="col-sm-4 col-sm-offset-4">
                <form method="post">{% csrf_token %}
                    <h3 class="delete_post">Are you sure you want to delete "{{ post.title }}"? </h3>
                    <input type="submit" value="Delete" class="btn btn-danger mt-2">
                </form>
            </div>
            <div class="col"></div>
        </div>
</div>

{% endblock content %}