{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<!-- Edit post form -->

<div class="container">
    <div class="row g-0">
        <div class="col mx-auto mt-4">
            <h3 class="edit_post_title text-center">Edit Post:</h3>
        </div>
        <div class="row g-0 mt-4">
            <div class="col"></div>
            <div class="col-sm-4 col-sm-offset-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ content | safe }}
                    <input type="submit" value="Save changes" class="btn btn-outline-success">
                </form>
            </div>
            <div class="col"></div>
        </div>
     </div>
</div>
{% endblock content %}