{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <!-- <div class="row justify-content-evenly">
            <div class="col-4"> -->
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                {% for post in post_list %}
                <div class="card">
                    <img src=" {{ post.featured_image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{% url 'post_detail' post.slug%}" class="post-link">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <hr />
                    <p class="card-text"><small class="text-muted"> {{  post.date_published }}</small></p>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">

                {% endif %}
                {% endfor %}
            </div>
            
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{% endblock %}